div{
    background-color: black;
    color: red;
    font-size: 40px;
    width: 500px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    padding: 1px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}